# Logs
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directory
node_modules

# NX Cache
.nx

# TypeScript cache
*.tsbuildinfo

# Eslint cache
.eslintcache

# Stylelint cache
.stylelintcache

# Bundle output directories
dist/

# Storybook bundle output
storybook-static

# Jest test coverage
coverage

# Env files
nx-cloud.env
