auto-install-peers=true
@waldronmatt/demo-ui:registry=https://registry.npmjs.org/
@waldronmatt/basic-math:registry=https://registry.npmjs.org/
@waldronmatt/parity:registry=https://registry.npmjs.org/
